@tailwind base;
@tailwind components;
@tailwind utilities;

footer {
  background-color: rgb(20 100 50);
  color: rgb(255, 255, 255);
}
nav {
  display: flex;
  flex-direction: row;
  place-items: center;
  padding-top: 8px;
  padding-bottom: 8px;
}

ul {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

button:hover {
  background-color: green;
  color: white;
}

.font-cabin {
  font-family: "Inter", sans-serif;
}

.dot {
  height: 120px;
  width: 120px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.bg-fitur1 {
  background: radial-gradient(
    50% 60% at 50% 50%,
    rgba(75, 180, 101, 0.75) 0%,
    rgba(255, 255, 255, 0.5) 100%
  );
}

.rectangle2 {
  width: 100px;
  height: 70px;
  background: rgba(85, 195, 110, 1);
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.rectangle1 {
  width: 370px;
  height: 100px;
  background: rgba(85, 195, 110, 1);
  border-radius: 35px;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
}

.square-spesification {
  margin-left: auto;
  margin-right: auto;
  width: 100px;
  height: 100px;
  left: 280px;
  top: 0px;

  background: #d9d9d9;
  border-radius: 20px;
}
